body {
  margin: 0;
  transition: transform 1s;
  font-family: arial;
  @include gridz;
}

h1 {
  color:#1f2d3d;
  font-size: 56px;
  background-color: #fffffb;
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  dl {
    margin: 0;
    padding: 50px;
    dt {
      opacity: .3;
      font-size: 42px;
    }
    dd {
      opacity: .3;
      font-size: 18px;
      margin-left: 0;
    }

    &:nth-child(even) {
      background: $row-even;
      color:#1f2d3d;
    }

    &:nth-child(odd) {
      background: $row-odd;
      color:#fff;
    }
  }
}

button {
  border: 1px solid #fc0;
}

#sample {
  &__text {
    //border: 5px dotted lime;
    //background-image: url("../img/slack.png");
    //background-repeat: no-repeat;
    //background-position: left;
  }
}
