body {
  padding-left: 100px;
  transition: transform 1s;
  text-align: center;
  padding-right: 100px;
  border: 10px solid $color;
  border-radius: 10px;
  @include gridz;
}

header {
  h1 {
    font-size: 26px;
    margin-bottom: 26px;
  }
}

div {
  border: 3px solid $color2;
  padding: $border-radius;
  margin-bottom: 25px;

  ul {
    padding-top: 14px;
  }
  li {
    color: $fontcolor1;
    margin-bottom: 12px;
  }
}

button {
  border: 1px solid #fc0;
}

#sample {
  &__text {
    border: 5px dotted lime;
    background-image: url("../img/slack.png");
    background-repeat: no-repeat;
    background-position: left;
  }
}
